@import "../../../../../../scss/mixins.scss";

.socials {
  display: flex;

  @include md {
    margin-top: 20px;
  }

  &__link {
    display: block;
    margin-right: 15px;

    &--last {
      margin-right: 0;
    }
  }

  &__icon {
    width: 18px;
    height: 16px;

    &:hover {
     opacity: 0.7;
    }
  }
}