@import 'fonts.scss';
@import 'variables.scss';

:host {
  display: block;
}
.product-title {
  font-family: HarmoniaSansProCyr-bold;
  font-size: $font-size-subTitleSmall;
  text-transform: lowercase;
  text-align: center;
  cursor: pointer;

  &::first-letter {
    text-transform: uppercase;
  }
}
