@import 'variables.scss'; 

.contact {
  font-weight: bold;
  display: flex;

  &__box {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  &__icon {
    width: 1.8rem;
    margin-right: 1rem;
  }

  &__link {
    text-decoration: none;
    color: $font-color-lighter;

    &:hover {
      opacity: 0.7;
    }
  }
}
