<section class="container details">
  <app-spinner [spinner]="spinnerMessage" *ngIf="isDataLoading"></app-spinner>
  <div [ngClass]="{ hidden: isDataLoading }" class="details__container">
    <app-gallery class="gallery" [productImage]="productDetails.thumbnailImageSrc"></app-gallery>
    <div class="details__content">
      <app-description [productDescription]="productDescription"></app-description>
      <app-options [productOptions]="productOptions"></app-options>
      <app-add-to-cart [productPrice]="productDetails.price"></app-add-to-cart>
    </div>
  </div>
</section>
<div class="container related-products">
  <app-common-products *ngIf="flags.isArrivalsVisible">
    <h2 class="common-products__heading" related-products>related <span>products</span></h2>
    <app-product-item new-arrivals *ngFor="let product of products" [product]="product"></app-product-item>
  </app-common-products>
</div>
