@import 'variables.scss';

.hidden {
  visibility: hidden;
}

.details {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: $secondary-background-color;
  border-top: 1px solid $section-border;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 3rem;
  }

  // &__content {
  //   display: grid;
  // }
}
