<section class="container details">
  <app-spinner [spinner]="spinnerMessage" *ngIf="isDataLoading"></app-spinner>
  <div [hidden]="isDataLoading" class="details__container">
    <app-gallery
      [hidden]="isDataLoading"
      (imagesStatus)="changeGalleryStatus($event)"
      [productImages]="productDetails.thumbnailImageSrc"
    ></app-gallery>
    <div class="details__content">
      <app-description [hidden]="isDataLoading" [productDescription]="productDescription"></app-description>
      <app-options [hidden]="isDataLoading" [productOptions]="productOptions"></app-options>
      <app-add-to-cart [hidden]="isDataLoading" [productPrice]="productDetails.price"></app-add-to-cart>
    </div>
  </div>
</section>
