<section class="container details">
  <app-spinner [spinner]="spinnerMessage" *ngIf="isDataLoading"></app-spinner>
  <div [ngClass]="{ hidden: isDataLoading }" class="details__container">
    <app-gallery [productImage]="productDetails.thumbnailImageSrc"></app-gallery>
    <div class="details__content">
      <app-description [productDescription]="productDescription"></app-description>
      <app-options [productOptions]="productOptions"></app-options>
      <app-add-to-cart [productPrice]="productDetails.price"></app-add-to-cart>
    </div>
  </div>
</section>
