.actions {
  display: flex;
  align-items: center;
  list-style: none;

  &__action-container {
    width: 2rem;

    &:not(:last-child) {
      margin-right: 3.4rem;
    }
  }

  & svg {
    display: block;
    width: 100%;
  }

  &__action-link {
    cursor: pointer;

    &:hover svg path {
      fill: #e36f23;
    }
  }

  &__action-container {
    &:last-child svg {
      filter: brightness(15%);

      &:hover {
        filter: brightness(1);
      }
    }
  }
}
