@import 'variables.scss';

.actions {
  display: flex;
  align-items: center;
  list-style: none;

  &__action-container {
    &:not(:last-child) {
      margin-right: 3.4rem;
    }
  }

  &__icon {
    font-size: 2rem;
    color: $font-color-darker;
    cursor: pointer;

    &:hover {
      color: $title-color;
    }
  }
}
