@import 'mixins.scss';
@import 'variables.scss';

.best-sales {
  &__heading {
    @include heading;
    font-size: $font-size-subTitleBig;

    & span {
      color: $title-color;
    }
  }

  &__paragraph {
    @include paragraph;
    margin-top: 3rem;
    text-align: center;
  }

  &__items {
    margin-top: 8rem;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-gap: 4rem;

    @include lg {
      margin-top: 5rem;
      grid-template: 1fr / repeat(3, 1fr);
    }

    @include md {
      grid-template: 1fr / repeat(2, 1fr);
    }

    @include sm {
      grid-template: 1fr / 1fr;
    }
  }

  &__item {
    display: block;
  }
}
