@import 'mixins.scss';
@import 'variables.scss';

.join {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background: #fff;

  @include md {
    display: block;
  }

  &__description {
    flex-basis: 50%;
  }

  &__description {
    flex-basis: 50%;

    @include xl {
      display: block;
    }

    @include md {
      text-align: center;
    }
  }

  &__title {
    @include heading;
    margin-right: 2rem;
    color: $title-color;
    font-size: $font-size-subTitleSmall;
    text-align: left;

    @include xl {
      margin-bottom: 1rem;
    }

    @include md {
      text-align: center;
    }
  }

  &__sub-title {
    font-family: $font-italic;
    font-size: $font-size-middle;
  }

  &__sign-form {
    flex-basis: 50%;

    @include md {
      margin-top: 3rem;
    }
  }

  &__form-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
      justify-content: space-evenly;
      margin-bottom: 1rem;
    }
  }

  &__email-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__email-icon {
    width: 2.5rem;
    margin-right: 1rem;
  }

  &__email-field {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: none;
    font-size: $font-size-small;

    &::placeholder {
      font-style: italic;
    }

    &:focus,
    &:active {
      outline-color: $title-color;
    }
  }

  &__email-error,
  &__email-success {
    width: max-content;
    padding: 0.8rem 0;
    font-size: $font-size-small;
    font-style: italic;
    text-align: center;

    @include md {
      margin: 0 auto;
    }
  }

  &__email-error {
    color: #d8000c;
  }

  &__email-success {
    color: #5aa944;
  }

  &__sign-btn {
    padding: 1.5rem;
    background: $title-color;
    color: #fff;
    font-size: $font-size-small;
    border: none;
    cursor: pointer;

    &:active,
    &:focus {
      outline-color: $title-color;
    }

    @include sm {
      padding: 1rem 1.5rem;
    }
  }
}
