@import 'variables.scss';

.nav {
  &__list {
    display: flex;
    list-style: none;
  }

  &__list-item {
    font-size: $font-size-main;
    text-align: right;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
  &__link {
    color: #49525d;
    text-decoration: none;
    &:hover {
      color: $title-color;
    }
    &--active {
      color: $title-color;
    }
  }
}
