@import 'variables';
@import 'mixins';
:host {
  display: block;
  background: $main-background-color;
}

.hidden {
  display: none;
}

.homepage {
  padding-top: 12rem;

  @include lg {
    padding-top: 8rem;
  }

  &__view-more {
    display: block;
    margin-bottom: 12rem;
    @include lg {
      margin-bottom: 8rem;
    }
  }
  &__best-sales {
    margin-top: 12rem;
    display: block;

    @include sm {
      margin-top: 0;
    }
  }
}
.common-products__heading {
  @include heading;
  font-size: $font-size-subTitleBig;
  span {
    color: $title-color;
  }
}
.best-sales__items {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 2rem;

  @include lg {
    margin-top: 5rem;
    grid-template: 1fr / repeat(2, 1fr);
  }

  @include sm {
    grid-template: 1fr / 1fr;
  }
}
.best-sales__item {
  display: block;
}
