@import 'variables';
@import 'mixins';
:host {
  display: block;
  background: #f6f8f9;
}

.adv {
  background-color: $main-background-color;
}
.view-more {
  display: block;
  background: $main-background-color;
  padding-bottom: 12rem;
  @include lg {
    padding-bottom: 8rem;
  }
}

.join-us {
  display: block;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
