<section class="banner">
  <app-spinner class="banner__spinner" [spinner]="spinner" *ngIf="isImagesLoading"></app-spinner>

  <!-- Opacity animation -->
  <ul class="banner__list" *ngIf="animationOption === 'opacity'" [ngClass]="{ hidden: isImagesLoading }">
    <li
      class="banner__slide"
      *ngFor="let slide of (sliderState$ | async).data; index as i; trackBy: null | trackByProperty"
      [ngClass]="{ 'banner__slide--active': i === currentSlideIndex }"
    >
      <img class="banner__background" src="{{ slide.img | sanitize: 'url' }}" alt="Banner img" (load)="imageLoaded()" />
      <div class="banner__buttons-container">
        <button class="banner__slide-btn banner__slide-btn--prev" (click)="showPrevSlide($event)"></button>
        <div class="banner__slide-btn banner__slide-btn--bigger"></div>
        <button class="banner__slide-btn banner__slide-btn--next" (click)="showNextSlide($event)"></button>
      </div>
      <div class="banner__content-box">
        <h2 class="banner__title">{{ slide.title }}</h2>
        <h4 class="banner__proposition">{{ slide.proposition }}</h4>
        <p class="banner__desc">{{ slide.description }}</p>
        <div class="banner__order-box">
          <p class="banner__price">Price: {{ slide.price }}$</p>
          <p class="banner__order">Order Now</p>
        </div>
      </div>
    </li>
  </ul>
</section>
