// @import 'mixins.scss';
@import 'variables.scss';

.banner {
  display: flex;
  line-height: 4rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__loading-icon {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: $font-size-subTitleSmall;
    text-align: center;
  }

  &__buttons-container {
    margin-right: 10rem;
  }

  &__slide-btn {
    width: 1rem;
    height: 1.8rem;
    border: none;
    display: block;

    &--bigger {
      height: 3.6rem;
      background: $title-color;
      margin: 1rem 0;
      outline: none;
    }

    &--prev,
    &--next {
      cursor: pointer;
      &:focus {
        outline: 2px solid $title-color;
      }
    }
  }

  &__proposition,
  &__price,
  &__order {
    font-size: $font-size-subTitleSmall;
  }

  &__desc {
    max-width: 80rem;
    font-size: $font-size-main;
  }

  &__box {
    margin-top: 4.5rem;
    display: flex;
  }

  &__price {
    margin-right: 3rem;
  }

  &__order {
    color: $title-color;

    &:hover,
    &:active {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
