@import 'mixins.scss';
@import 'variables.scss';

.banner {
  position: relative;
  display: flex;
  height: 650px;
  align-items: center;
  overflow: hidden;

  @include lg {
    height: 550px;
  }

  @include md {
    height: 500px;
  }

  @include sm {
    display: none;
  }

  &__spinner {
    margin: 0 auto;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    width: 100%;

    @include xl {
      height: 100%;
    }
  }

  &__details {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translate(0, -50%);
    z-index: 2;
    display: flex;
    line-height: 4rem;
  }

  &__loading-icon {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: $font-size-subTitleSmall;
    text-align: center;
  }

  &__buttons-container {
    margin-right: 10rem;
  }

  &__slide-btn {
    width: 1rem;
    height: 1.8rem;
    border: none;
    display: block;

    &--bigger {
      height: 3.6rem;
      background: $title-color;
      margin: 1rem 0;
    }

    &--prev,
    &--next {
      cursor: pointer;
      &:focus {
        outline: 2px solid $title-color;
      }
    }
  }

  &__title {
    @include heading;
    color: $title-color;
    font-size: $font-size-mainTitle;
    font-family: $font-bold;
    text-align: left;
  }

  &__proposition,
  &__price,
  &__order {
    font-size: $font-size-subTitleSmall;
  }

  &__desc {
    max-width: 80rem;
    font-size: $font-size-main;
  }

  &__box {
    margin-top: 4.5rem;
    display: flex;
  }

  &__price {
    margin-right: 3rem;
  }

  &__order {
    color: $title-color;

    &:hover,
    &:active {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
