<div class="gallery">
  <figure class="gallery__primary-image">
    <img src="{{ productImage }}" alt="product image primary" title="{{ curPrimaryImageTitle }}" (load)="changeImageStatus()" />
  </figure>
  <div class="gallery__small-images-container">
    <img
      *ngFor="let &quot;small-image&quot; of smallImagesArr; let i = index; trackBy: trackElementService.trackElement"
      src="{{ productImage }}"
      alt="product image small"
      title="product image nr {{ i + 1 }}"
      class="gallery__small-image"
      (click)="onSmallImageClick(i + 1)"
    />
  </div>
</div>
