<section class="container footer">
  <app-logo class="logo"></app-logo>
  <ul class="footer__list">
    <li class="footer__list-item"><a routerLink="about" class="footer__item-link">About us</a></li>
    <li class="footer__list-item"><a routerLink="contact" class="footer__item-link">Contact us</a></li>
    <li class="footer__list-item"><a class="footer__item-link">Join us</a></li>
  </ul>
  <div class="footer__payments">
    <h3 class="footer__payments-title">Payments methods</h3>
    <picture>
      <source srcset="../../../../assets/icons/payment-images.png" media="(max-width:576px)" />
      <source />
      <source srcset="../../../../assets/icons/payment-images@2x.png" media="(max-width:992px)" />
      <source />
      <img src="../../../../assets/icons/payment-images@3x.png" class="footer__payments-image" />
    </picture>
  </div>
</section>
