@import 'variables.scss';
@import 'mixins.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.footer__logo {
  flex-basis: 20%;
  &-text {
    font-size: $font-size-middle;
  }
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  &-item {
    font-size: $font-size-subTitleSmall;
    padding-right: 2rem;
    list-style: none;
  }
}
.footer__item-link {
  color: $font-links-color;
  text-decoration: none;
  &:last-child {
    cursor: pointer;
  }
}
.footer__payments {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;

  &-title {
    padding-bottom: 1rem;
    font-family: $font-bold;
    font-size: $font-size-middle;
    color: $title-color;
  }

  &-image {
    width: 100%;
  }
}
