<section class="container footer">
  <div class="footer__logo">
    <app-logo class="logo"></app-logo>
    <p class="footer__logo-text">Shopy &copy; 2015</p>
  </div>
  <ul class="footer__list">
    <li class="footer__list-item"><a routerLink="about" class="footer__item-link">about us</a></li>
    <li class="footer__list-item"><a routerLink="contact" class="footer__item-link">contact us</a></li>
    <li class="footer__list-item"><a class="footer__item-link">join us</a></li>
  </ul>
  <div class="footer__payment">
    <h3 class="footer__payment-title">Payment Methods</h3>
    <picture class="footer__payment-container">
      <source srcset="../../../../assets/icons/payment-images.png" media="(max-width:768px)" />
      <source />
      <source srcset="../../../../assets/icons/payment-images@2x.png" media="(max-width:992px)" />
      <source />
      <img src="../../../../assets/icons/payment-images@3x.png" class="footer__payment-image" />
    </picture>
  </div>
</section>
