@import 'variables.scss';
@import 'mixins.scss';
.view-more {
  &__container {
    height: 6rem;
    background: $secondary-background-color;
    position: relative;
  }
}
.view-more__dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.dot {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background: $title-color;
  border-radius: 50%;
}
