@import 'variables.scss';
@import 'mixins.scss';

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  font-size: $font-size-subTitleSmall;
  border-top: 1px solid $section-border;
  border-bottom: 1px solid $section-border;

  @include xl {
    display: block;
  }

  &__sizes-box {
    display: flex;
    align-items: center;

    @include xl {
      margin-bottom: 2rem;
    }

    @include sm {
      display: block;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    margin-left: 1.5rem;
    list-style: none;

    @include sm {
      margin: 1rem 0 3rem 0;
      justify-content: center;
    }
  }

  &__list-item {
    cursor: pointer;
    padding: 0.5rem;

    &--active {
      color: $title-color;
    }
  }

  &__out-of-stock {
    color: $title-color;
  }

  &__amount-box {
    display: flex;
    align-items: center;

    @include sm {
      display: block;
      text-align: center;
    }
  }

  &__amount-actions {
    display: grid;
    grid-template-columns: 2.5rem 4rem 2.5rem;
    grid-gap: 1rem;
    margin-left: 2rem;

    @include sm {
      justify-content: center;
      margin: 1rem 0 0 0;
    }
  }

  &__amount-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    &:active,
    &:focus {
      outline-color: $title-color;
    }
  }

  &__amount-number {
    text-align: center;
    color: $title-color;
    font-size: $font-size-subTitleSmall;
    border: none;
  }
}
