<div class="product-item">
  <figure class="product-item__img">
    <img src="{{ product.thumbnailImageSrc }}" alt="product-image" />
  </figure>
  <div class="product-item__details">
    <app-small-title class="product-item__title" description="{{ product.name }}"></app-small-title>
    <app-small-title class="product-item__price" description="{{ product.price }}$"></app-small-title>
  </div>
  <div class="product-item__options-container">
    <ul class="product-item__sizes-list">
      <li>Size:</li>
      <li class="product-item__size" *ngFor="let size of product.sizes">{{ size | lowercase }}</li>
    </ul>
    <div class="product-item__colors-option">
      <span class="product-item__color-icon"></span>
      <span class="product-item__color-icon"></span>
      <span class="product-item__color-icon"></span>
      <span class="product-item__color-icon"></span>
    </div>
  </div>
  <div class="product-item__actions-container">
    <ul class="product-item__actions-list">
      <li class="product-item__action-icon">
        <fa-icon [icon]="shareIcon"></fa-icon>
      </li>
      <li class="product-item__action-icon">
        <fa-icon [icon]="shoppingIcon"></fa-icon>
      </li>
      <li class="product-item__action-icon">
        <fa-icon [icon]="heartIcon"></fa-icon>
      </li>
    </ul>
  </div>
</div>
