<div class="product-item" (mouseover)="onProductMouseOver()" (mouseleave)="onProductMouseOut()">
  <figure class="product-item__img" [ngClass]="{ 'product-item__img--hovered': hoverSide }">
    <img
      src="https://assets.reebok.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/a951d20352de4195a2bfa9760155038b_9366/Training_ACTIVCHILL_Move_Tee_Blue_DU3945_21_model.jpg"
      alt="product-image"
    />
  </figure>
  <div class="product-item__details">
    <a class="product-item__title">
      <h3 class="product-details" [ngClass]="{ 'product-details--light': hoverSide }">Product name</h3>
    </a>
    <p *ngIf="!hoverSide" class="product-item__price product-details product-details--light">$Price</p>
  </div>
  <div *ngIf="hoverSide" class="product-item__options-container">
    <ul class="product-item__sizes-list">
      <li>Size:</li>
      <li class="product-item__size">s</li>
      <li>-</li>
      <li class="product-item__size">m</li>
      <li>-</li>
      <li class="product-item__size">l</li>
      <li>-</li>
      <li class="product-item__size">xl</li>
    </ul>
    <div class="product-item__colors-option">
      <span class="product-item__color-icon"></span>
      <span class="product-item__color-icon"></span>
      <span class="product-item__color-icon"></span>
      <span class="product-item__color-icon"></span>
    </div>
  </div>

  <div *ngIf="hoverSide" class="product-item__actions-container">
    <ul class="product-item__actions-list">
      <li class="product-item__action-icon">
        <fa-icon [icon]="shareIcon"></fa-icon>
      </li>
      <li class="product-item__action-icon">
        <fa-icon [icon]="shoppingIcon"></fa-icon>
      </li>
      <li class="product-item__action-icon">
        <fa-icon [icon]="heartIcon"></fa-icon>
      </li>
    </ul>
  </div>
</div>
