/* You can add global styles to this file, and also import other style files */
@import './scss/fonts.scss';
@import './scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-regular;
}

html {
  /* 1rem = 10px  10px/16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

.container {
  padding: 0 10%;
}
