@import 'fonts.scss';
@import 'variables.scss';

@mixin xxl {
  @media only screen and (max-width: 1500px) {
    @content;
  }
}
@mixin xl {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin heading {
  font-family: HarmoniaSansProCyr-bold;
  text-transform: uppercase;
  text-align: center;
  color: #49525d;
}

@mixin paragraph {
  font-size: $font-size-main;
  color: $font-color-lighter;
}
