@import 'mixins.scss';
@import 'variables.scss';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebecee;
  font-size: $font-size-middle;
  background: $secondary-background-color;

  @include md {
    flex-direction: column;
  }
}
