@import "mixins.scss";
@import "variables.scss";

.contact-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #ebecee;
  font-size: $font-size-middle;
  
  @include md {
    flex-direction: column;
  }
}